@media (max-width: 400px) {
  :root {
    --cell-size: 28px;
    --font-size-large: 28px;
    --font-size-medium: 20px;
    --font-size-small: 14px;
  }
}

@media (max-height: 600px) {
  body {
    padding: 20px 0;
  }

  #grid-container {
    margin: 10px auto;
  }
}
