#typingHintText {
  font-size: var(--font-size-medium);
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  height: 1.5em;
  z-index: 10;
}

.typing-text-caret::after {
  content: "|";
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}
